$white: #FFF;
$blue : #4B6BFB;
$black: #181A2A;
$grey: #97989F;
$lightGrey: #E8E8EA;

$primaryFont: 'Work Sans', sans-serif;
$primaryColor: $blue;
$secondaryColor: $black;
$tertiaryColor: $grey;


$borderRadius: 12px;
$smallBorderRadius: 6px;
$boxShadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);

$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$xlBreakpoint: 992px;
